.header {
  @apply flex bg-white justify-between max-w-[1535px] mx-24 py-7;
}

.header h1{
  @apply font-semibold text-2xl mx-[88px];
}

.header nav{
  @apply text-sm flex gap-5;
}

.profile {
  @apply btn btn-primary;
  background-color: #5E50A1;
}